---
layout: archive
title: "Open Access Research Projects"
permalink: /openaccess/
author_profile: true
---

{% include base_path %}

{% assign custom_files = "siaa.md, ghf.md, vbt.md, hosptrack.md, vaxdiplom.md, covschools.md, honorsthesis.md, heartlandequity.md" | split: ", " %}

{% for file in custom_files %}
  {% assign filename = file | prepend: "_portfolio/" %}
  {% assign post = site.documents | where: "path", filename | first %}
  {% if post %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
