---
layout: archive
title: ""
permalink: /research/
author_profile: true
---

{% include base_path %}

<h1 style="text-align: center; font-style: italic;">Working Papers</h1>

{% assign working_papers = "emotionalstate.md, adsexp.md" | split: ", " %}
{% for file in working_papers %}
  {% assign filename = file | prepend: "_portfolio/" %}
  {% assign post = site.documents | where: "path", filename | first %}
  {% if post %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h1 style="text-align: center; font-style: italic;">Published Papers in Economics</h1>

{% assign published_econ_papers = "deactivation.md, covidmortalitygaps.md, covidshocks.md, coviddiffusion.md" | split: ", " %}
{% for file in published_econ_papers %}
  {% assign filename = file | prepend: "_portfolio/" %}
  {% assign post = site.documents | where: "path", filename | first %}
  {% if post %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h1 style="text-align: center; font-style: italic;">Published Papers in Health Policy</h1>

{% assign published_hp_papers = "cjdepi.md, lci.md, ascpe.md, surgqual.md" | split: ", " %}
{% for file in published_hp_papers %}
  {% assign filename = file | prepend: "_portfolio/" %}
  {% assign post = site.documents | where: "path", filename | first %}
  {% if post %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
