---
layout: archive
title: "Peer-Reviewed Publications"
permalink: /research/
author_profile: true
---

{% include base_path %}

<h1 style="text-align: center;">Peer-Reviewed Publications</h1>

<h2 style="text-align: center; font-size: larger; font-style: italic;">Economics</h2>
{% assign econ_files = "deactivation.md, covidmortalitygaps.md, covidshocks.md, coviddiffusion.md" | split: ", " %}
{% for file in econ_files %}
  {% assign filename = file | prepend: "_portfolio/" %}
  {% assign post = site.documents | where: "path", filename | first %}
  {% if post %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 style="text-align: center; font-size: larger; font-style: italic;">Health Policy</h2>
{% assign health_files = "cjdepi.md, lci.md, ascpe.md, surgqual.md" | split: ", " %}
{% for file in health_files %}
  {% assign filename = file | prepend: "_portfolio/" %}
  {% assign post = site.documents | where: "path", filename | first %}
  {% if post %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}