---
title: ""
permalink: /research/
author_profile: true
---

Working Papers
------

[**The Effect of Deactivating Facebook and Instagram on Users' Emotional State"
collection**](/files/EmotionalStateNBER.pdf){:target="_blank"} \
<span style="font-size:.9em;">AEJ: Economic Policy (*Forthcoming*)</span> \
<span style="font-size:.9em;">[NBER Working Paper 33697](https://www.nber.org/papers/w33697){:target="_blank"} (2025), [2020 Facebook and Instagram Election Studies](https://research.facebook.com/2020-election-research/){:target="_blank"}</span> \
<span style="font-size:.9em;">with [Hunt Allcott][hallcott], [Matthew Gentzkow][mgentzkow], [Benjamin Wittenbrink][bwitten], et al.</span>
><span style="font-size:.9em;">*We estimate the effect of social media deactivation on users’ emotional state in two large randomized experiments before the 2020 U.S. election. People who deactivated Facebook for the six weeks before the election reported a 0.060 standard deviation improvement in an index of happiness, depression, and anxiety, relative to controls who deactivated for just the first of those six weeks. People who deactivated Instagram for those six weeks reported a 0.041 standard deviation improvement relative to controls. Exploratory analysis suggests the Facebook effect is driven by people over 35, while the Instagram effect is driven by women under 25.*</span>

[hallcott]: https://allcott.stanford.edu/
[mgentzkow]: https://www.matthewgentzkow.com/
[bwitten]: https://benjaminhwittenbrink.github.io/

<!-- {% include base_path %}

<h2 style="text-align: center; font-style: italic;">Working Papers</h1>

{% assign working_papers = "emotionalstate.md, adsexp.md" | split: ", " %}
{% for file in working_papers %}
  {% assign filename = file | prepend: "_portfolio/" %}
  {% assign post = site.documents | where: "path", filename | first %}
  {% if post %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 style="text-align: center; font-style: italic;">Published Papers in Economics</h1>

{% assign published_econ_papers = "deactivation.md, covidmortalitygaps.md, covidshocks.md, coviddiffusion.md" | split: ", " %}
{% for file in published_econ_papers %}
  {% assign filename = file | prepend: "_portfolio/" %}
  {% assign post = site.documents | where: "path", filename | first %}
  {% if post %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 style="text-align: center; font-style: italic;">Published Papers in Health Policy</h1>

{% assign published_hp_papers = "cjdepi.md, lci.md, ascpe.md, surgqual.md" | split: ", " %}
{% for file in published_hp_papers %}
  {% assign filename = file | prepend: "_portfolio/" %}
  {% assign post = site.documents | where: "path", filename | first %}
  {% if post %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %} -->
