{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign is_work_in_progress = post.url contains 'workinprogress' %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | prepend: '/images/' | prepend: base_path }}" alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ post.url | prepend: base_path }}" rel="permalink">{{ title }}</a>
    </h2>

    {% unless is_work_in_progress %}
      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | date: '%Y' }}</p>
      <p style="text-align: center;">
        <button onclick="toggleAbstract('{{ post.title | slugify }}')" style="...">
          Click for Abstract
        </button>
      </p>
      <div id="abstract-{{ post.title | slugify }}" style="...">
        {{ post.abstract | markdownify }}
      </div>
    {% endunless %}

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ read_time }}</p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% if post.citation %}
      <p>Recommended citation: {{ post.citation }}
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a>
        {% endif %}
      </p>
    {% endif %}
  </article>
</div>

<script>
  function toggleAbstract(id) {
    var abstractDiv = document.getElementById("abstract-" + id);
    if (abstractDiv.style.display === "block") {
      abstractDiv.style.display = "none";
    } else {
      abstractDiv.style.display = "block";
    }
  }
</script>
