{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <h1 class="site-title"><a href="{{ base_path }}/">{{ site.title }}</a></h1>
    <nav id="site-nav" class="nav-center">
      {% for link in site.data.navigation.main %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = base_path %}
        {% endif %}
        {% assign is_external = false %}
        {% if link.url contains 'http' or link.url contains '.pdf' %}
          {% assign is_external = true %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}"{% if page.url == link.url %} class="active"{% endif %}{% if is_external %} target="_blank" rel="noopener"{% endif %}>{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</div>
