---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  <!-- Add the JavaScript for toggling the abstract -->
  <script>
    function toggleAbstract() {
      var abstract = document.getElementById("abstract");
      if (abstract.style.display === "none" || abstract.style.display === "") {
        abstract.style.display = "block";
      } else {
        abstract.style.display = "none";
      }
    }
  </script>

  </body>
</html>
